@import "./componentes/discografia.scss";
@import "./componentes/footer.scss";
@import "./componentes/header.scss";
@import "./componentes/historia.scss";
@import "./componentes/home.scss";
@import "./componentes/liveAid.scss";
@import "./componentes/pelicula.scss";
@import "./componentes/darkMode.scss"