$colorBlanco: #fcfcfc;
$colorNegro: #000004;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);
//  *** Variables Tipografía ***
$tipografia: 'Open Sans', sans-serif;
$fuente-celular-pequeño: 14px;
$fuente-celular-horizontal: 18px;
$fuente-tablet-chica: 20px;
$fuente-tablet-horizontal: 22px;
$fuente-computadora: 22px;

$subTitulo-celular-pequeño: 18px;
$subTitulo-celular-horizontal: 20px;
$subTitulo-tablet-chica: 22px;
$subTitulo-tablet-horizontal: 24px;
$subTitulo-computadora: 26px;

$titulo-celular-pequeño: 25px;
$titulo-celular-horizontal: 30px;
$titulo-tablet-chica: 35px;
$titulo-tablet-horizontal: 40px;
$titulo-computadora: 45px;